@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-100 text-zinc-900 font-normal text-base w-screen relative overflow-x-hidden scroll-smooth
}

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

/* Hide scrollbar track & thumb */
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  background: transparent !important;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .fade-in-page {
    animation: fade-in 200ms ease-in-out;
  }

  @keyframes fade-in {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
